.admin-container
  .admin-header
    div
      h1.admin-title 面接フォーム一覧
      p.admin-subtitle 面接フォームの管理・作成ができます
    = link_to '新しい面接フォームを作成', new_situation_path, class: 'btn-primary-custom'

  .admin-card
    table.admin-table
      thead
        tr
          th ID
          th タイトル
          th 作成日
          th 操作
      tbody
        - @situations.each do |s|
          tr
            td= s.id
            td= s.title
            td= s.created_at.strftime('%Y-%m-%d')
            td
              .admin-actions
                = link_to '表示', situation_path(s), class: 'btn-primary-custom btn-sm'
                = link_to '編集', edit_situation_path(s), class: 'btn-secondary-custom btn-sm'
                = link_to '削除', situation_path(s), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-danger-custom btn-sm'
