.auth-container
  .auth-card-custom
    h2.auth-title 新規登録
    p.auth-subtitle クライアントアカウントを作成
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "clients/shared/error_messages", resource: resource

      .form-group-custom
        = f.label :email, 'メールアドレス'
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@mail.com"

      .form-group-custom
        = f.label :password, 'パスワード'
        - if @minimum_password_length
          span.hint= "(#{@minimum_password_length}文字以上)"
        = f.password_field :password, autocomplete: "new-password"

      .form-group-custom
        = f.label :password_confirmation, 'パスワード（確認）'
        = f.password_field :password_confirmation, autocomplete: "new-password"

      .form-group-custom
        = f.submit "新規登録", class: "btn-primary-custom w-100"

    .auth-links
      = render "clients/shared/links"
